@use 'variaveis';

.hero { 
    background-image: url(/dist/images/codes-background-2.jpg);
    text-align: center;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content{
        max-width: 80vw;
        text-align: center;

        &__branding {
        max-width: 1000px;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            max-width: 640px;
            }
        }


        .title--small {
            margin-top: -100px;

            @media (max-width:768px) {
                margin-top: -32px;
            }
        }

    }
}