$corDeFundo : #00180a;
$corTextoPrincipal : silver;
$corTextoSecundario : #f9f9f9;
$corDeFundoBotaoPrimario: #21ff4d;
$corDeFundoBotaoSecundario: #006e37;
$corDeFundoBotaoDark: #000;
$corDeFundoTerciaria: #006e37;